# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# macOS
**/.DS_Store

# Node/npm
node_modules/

# Logs
*.log

# VS Code
.vscode/

# JetBrains IDEs (WebStorm, IntelliJ, etc.)
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Vim
*.swp
*.swo

# Emacs
*~

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# Mac Finder & Spotlight
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
ehthumbs.db
Thumbs.db
